:root{
  --colorazul: #3FBEEA;
  --colorrojo: #EF1D32;
}
*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    background: #fefefe;
}
.menu_bar{
    display: none;
}
header{
    width: 100%;
    align-content: center;
    display: flex;
    align-items: center;
    align-content: center;
    margin: 0;
    padding: 0;
}
header nav{
    margin-top: -100px !important;
    background-color: var(--colorazul);
    text-align: center;
    z-index: 1000;
    width: 100%;
    margin: 20px auto;
    position: fixed !important;
    height: 66px;
}
header nav ul{
    list-style: none;
}
header nav ul li{
    display: inline-block;
    position: relative;
}
header nav ul li:hover{
    background: var(--colorrojo);
    text-decoration: none;
    color: white;
}
header nav ul li a{
    color: #fffff1;
    display: block;
    text-decoration: none;
    padding: 20px 8px;
}
header nav ul li a:hover{
    color: #fffff1;
    display: block;
    text-decoration: none;
    padding: 20px 8px;
  }
.fa-circle{
    font-size: 4px;
    margin-top: 8px;
    margin-right: 10px;
    float: left;
}
header nav ul li:hover .children{
    display: block;
    text-decoration: none;
    color: white;
}
header nav ul li .children{
    display: none;
    background: #011826;
    position: absolute;
    width: 128%;
    z-index: 1000;
    text-align: left;
}
header nav ul li .children li{
    display: block;
    overflow: hidden;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
}
#menubar:hover{
  color: white;
  cursor: pointer;
}
nav img{
  width: 50px;
}
/* media queries */

@media screen and (max-width: 890px){
    body{
        padding-top: 70px;
    }
    .menu_bar{
        display: inline;
        min-width: 100%;
        position: fixed;
        top: 0;
        background: var(--colorrojo);
        z-index: 1000;
    }
    .menu_bar .btn-menu{
        display: block;
        padding: 20px;
        color: white;
        overflow: hidden;
        font-size: 25px;
        font-weight: bold;
        text-decoration: none;
    }
    .fa-bars{
        float: right;
        font-size: 30px;
        margin-right: 20px;
    }
    header nav{
        margin-top: 7px !important;
        width: 65%;
        height: calc(100% - 60px);
        position: fixed;
        right: 100%;
        margin: 0;
        overflow: scroll;
        text-align: left;
    }
    header nav ul li{
        display: block;
        border-bottom: 1px solid rgba(255, 255, 255, .3);
    }
    header nav ul li a{
        display: block;
        margin-left: 10px;
    }
    header nav ul li:hover .children{
        display: none;
        text-align: left;
        color: white;
    }
    header nav ul li .children{
        width: 100%;
        position: relative;
    }
    header nav ul li .children li a{
        margin-left: 20px;
    }
    nav img{
      display: none;
    }
    div article p #frase{
      margin-top: 20px;
    }
    #frase{
      margin-top: 30px !important;
    }
    #habiliadades{
      z-index: 10;
    }
    #biografiatitulo{
      margin: 0px !important;
      width: 100%;
      border-top-right-radius: 0px !important;
      border-bottom-right-radius: 0px !important;
      text-align: center !important;
    }
    .social{
      display: none;
    }
}
@media screen and (max-width: 810px){
  header nav{
    margin-top: 27px !important;
  }
  .textoformacion{
    margin-left: 10px !important;
    padding: 15px 35px !important;
  }
  .tithabilidades{
    font-size: 30px;
    margin: auto;
    text-align: center;
  }
  .tithabilidades, .titempanada, .titproyectos{
    width: 100% !important;
    text-align: center;
  }
  #carouselExampleCaptions{
    width: 100% !important;
  }
  .flip-card{
    width: 70% !important;
  }
}
@keyframes h3{
  0%,100%{
    transform: translate(0px);
  }
  25%{
    transform: translate(25px);
  }
  75%{
    transform: translate(-25px);
  }
}
@keyframes icono {
  0% {
    opacity: 0;
    transform: scale(.1); 
    transform: rotate(0deg);
  }
  100% {
    opacity: 1;
    transform: scale(1); 
    transform: rotate(360deg);
  }
}

/* Body */

/* Frase */
#frase{
    margin-top: 100px;
    background-color: var(--colorrojo);
    color: white !important;
    width: 100%;
    height: auto;
    align-content: center;
    text-align: center;
    color: black;
    font-family: 'Amatic SC', cursive;
    padding: 10px;
    font-size: 30px;
    font-weight: bold;
}
/* autobiografía */
#titulo{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    margin-top: 20px;
    background-color: var(--colorazul);
    color: var(--colorrojo);
    padding: 15px;
    text-align: left;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}
.texto{
    background-color: var(--colorrojo);
    width: 100%;
    height: auto;
    align-content: center;
    text-align: center;
    color: white;
    padding: 25px 30px;
    font-size: 18px;
}
/* Perfil profesional */
.flip-card {
  background-color: transparent;
  width: 40%;
  height: 300px;
  perspective: 1000px;
  margin: auto;
  align-items: center;
  align-content: center;
}
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}
.flip-card-inner img{
  width: 100%;
  height: 300px;
  border-radius: 10px;
}
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.flip-card-back {
  padding-top: 20px;
  background-color: var(--colorazul);
  color: white;
  transform: rotateY(180deg);
}
.textperfil{
  margin-top: 35px;
}
/* Hobbies */
.video {
  margin-top: 20px;
  width: 100%;
  border-radius: 10px;
}
.gif {
  margin-top: 20px;
  width: 100%;
  border-radius: 10px;
}

/* Habilidades */
.tithabilidades{
  margin: 15px 20px;
  margin-bottom: 50px;
  font-family: 'Roboto', sans-serif;
  background-color: var(--colorazul);
  color: white;
  width: 500px;
  text-align: center;
  padding: 10px;
}
h1, h3 {
  text-align: center;
}
h1{
  margin-top: 20px;
}
h3 {
  animation-name: h3;
  animation-duration: 2s;
}
.fas, .fab {
  animation-name: icono;
  animation-duration: 2s;
}
#habilidades{
  margin-top: 50px !important;
  margin: auto;
  width: 100%;
  z-index: 10;
}
/* Formacion */

.textoformacion{
  float: left;
  margin: 10px 0px 0px 20px;
  background-color: var(--colorrojo);
  width: 100%;
  height: auto;
  align-content: center;
  text-align: center;
  color: white;
  padding: 25px 30px;
  font-size: 18px;
}

/* que hago */

.contenedor {
	max-width: 1200px;
	width: 90%;
	margin: auto;
}

  /* contenedor principal */

  .contenido-principal {
    margin-bottom: 50px;
    display: flex;
    align-items: center;
  }
  .contenido-principal__imagen {
    vertical-align: top;
    margin-right: 20px;
    width: 50%;
    max-width: 550px;
  }
  .contenido-principal__contenedor {
    width: 50%;
  }
  .contenido-principal__titulo {
    font-weight: bold;
  }
  .contenido-principal__resumen {
    font-family: 'Roboto', sans-serif;
    line-height: 30px;
    color: black;
  }
  /* --- --- carousel --- --- */
  .carousel__contenedor {
    position: relative;
  }
  
  .carousel__anterior, .carousel__siguiente {
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    border: none !important;
    top: calc(50% - 30px);
    cursor: pointer;
    line-height: 30px;
    text-align: center;
    background: none;
    color: var(--colorrojo);
    opacity: 70%;
    z-index: 900;
  }
  
  .carousel__anterior:hover, .carousel__siguiente:hover {
    opacity: 100%;
  }
  
  .carousel__anterior {
    left: -35px;
  }
  
  .carousel__siguiente {
    right: -35px;
  }
  
  .carousel__lista {
    overflow: hidden;
  }
  
  .carousel__elemento {
    text-align: center;
  }
  .carousel__indicadores .glider-dot {
    background-color: var(--colorazul);
    display: block;
    width: 30px;
    height: 4px;
    opacity: .5;
    border-radius: 0;
  }
  
  .carousel__indicadores .glider-dot:hover {
    opacity: 1;
    background-color: var(--colorrojo);
  }
  
  .carousel__indicadores .glider-dot.active {
    background-color: var(--colorrojo);
    opacity: 1;
  }
  
  @media screen and (max-width: 800px) {
    body {
      padding: 50px 0;
    }
    .contenido-principal {
      flex-direction: column;
    }
    .contenido-principal__titulo{
      margin-top: 30px;
    }
    .contenido-principal__resumen{
      margin-top: 20px;
      margin-bottom: -40px !important;
      padding: 20px 35px !important;
    }
    .contenido-principal > * {
      width: 100%;
    }
    .carousel__elemento p{
      margin-top: 20px !important;
    }
    #carouselExampleCaptions{
      width: 70% !important;
    }
  }

  /* Proyectos */
.titproyectos{
  margin-bottom: 40px;
  font-family: 'Roboto', sans-serif;
  background-color: var(--colorazul);
  float: center;
  color: white;
  width: 500px;
  text-align: center;
  padding: 10px;
}
/* Sta. Empanada */
.btnempanada{
  margin: 10px;
  margin-bottom: 50px !important;
  width: 120px;
  height: 50px;
  background: var(--colorazul);
  border: none;
  cursor: pointer;
  position: relative;
  border-radius: 5px;
}
.btnempanada:hover{
  margin: 10px;
  width: 120px;
  height: 50px;
  background: var(--colorrojo);
  border: none;
  cursor: pointer;
  position: relative;
  border-radius: 5px;
  
}
.btnempanada::before{
  content: 'Proyecto';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  color: var(--colorrojo);
  text-transform: uppercase;
  font-weight: bold;
  transition: .2s ease;
}

.btnempanada::after{
  content: 'Sta. Empanada';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  font-size: 16px;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  transition: .2s ease;
  opacity: 0;
}

.btnempanada:hover::before{
  transform: translate(-50%, -50%s) scale(3);
  opacity: 0;
}

.btnempanada:hover::after{
  transform: translate(-50%, -50%s) scale(1);
  opacity: 1;
}
/* 9 mockups */
.btnmockups{
  margin: 10px;
  margin-bottom: 50px !important;
  width: 120px;
  height: 50px;
  background: var(--colorazul);
  border: none;
  cursor: pointer;
  position: relative;
  border-radius: 5px;
}
.btnmockups:hover{
  margin: 10px;
  width: 120px;
  height: 50px;
  background: var(--colorrojo);
  border: none;
  cursor: pointer;
  position: relative;
  border-radius: 5px;
  
}
.btnmockups::before{
  content: 'Proyecto';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  color: var(--colorrojo);
  text-transform: uppercase;
  font-weight: bold;
  transition: .2s ease;
}

.btnmockups::after{
  content: '9 Mockups';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  font-size: 16px;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  transition: .2s ease;
  opacity: 0;
}

.btnmockups:hover::before{
  transform: translate(-50%, -50%s) scale(3);
  opacity: 0;
}

.btnmockups:hover::after{
  transform: translate(-50%, -50%s) scale(1);
  opacity: 1;
}
li, .listabtn{
  list-style: none;
}
/* Fotografía */
#carouselExampleCaptions {
  width: 40%;
  height: 8%;
  font-weight: 700;
  background-color: var(--colorazul);
  color: white;
}
.carousel-item h5{
  padding-top: 10px;
}
/* Personales */
.btnpersonales{
  margin: 10px;
  margin-bottom: 50px !important;
  width: 120px;
  height: 50px;
  background: var(--colorazul);
  border: none;
  cursor: pointer;
  position: relative;
  border-radius: 5px;
}
.btnpersonales:hover{
  margin: 10px;
  width: 120px;
  height: 50px;
  background: var(--colorrojo);
  border: none;
  cursor: pointer;
  position: relative;
  border-radius: 5px;
  
}
.btnpersonales::before{
  content: 'Proyectos';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  color: var(--colorrojo);
  text-transform: uppercase;
  font-weight: bold;
  transition: .2s ease;
}

.btnpersonales::after{
  content: 'Personales';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  font-size: 16px;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  transition: .2s ease;
  opacity: 0;
}

.btnpersonales:hover::before{
  transform: translate(-50%, -50%s) scale(3);
  opacity: 0;
}

.btnpersonales:hover::after{
  transform: translate(-50%, -50%s) scale(1);
  opacity: 1;
}
/* Habilidades técnicas */

/* ofimática */
#myProgress {
    background-color: lightblue;
    cursor: pointer;
    border-radius: 20px;
  }
  
#myBar {
    width: 5%;
    height: 20px;
    background-color: var(--colorrojo);
    text-align: center;
    line-height: 20px;
    color: white;
    border-radius: 20px;
  }
/* Ai */
  #myProgress2 {
    background-color: lightblue;
    cursor: pointer;
    border-radius: 20px;
  }
 
#myBar2 {
    width: 5%;
    height: 20px;
    background-color: var(--colorrojo);
    text-align: center;
    line-height: 20px;
    color: white;
    border-radius: 20px;
  }
 /* Ps */
  #myProgress3 {
    background-color: lightblue;
    cursor: pointer;
    border-radius: 20px;
  }
  
#myBar3 {
    width: 5%;
    height: 20px;
    background-color: var(--colorrojo);
    text-align: center;
    line-height: 20px;
    color: white;
    border-radius: 20px;
  }
/* HTML */
  #myProgress4 {
    background-color: lightblue;
    cursor: pointer;
    border-radius: 20px;
  }
  
#myBar4 {
    width: 5%;
    height: 20px;
    background-color: var(--colorrojo);
    text-align: center;
    line-height: 20px;
    color: white;
    border-radius: 20px;
  }
/* CSS */
  #myProgress5 {
    background-color: lightblue;
    cursor: pointer;
    border-radius: 20px;
  }
  
#myBar5 {
    width: 5%;
    height: 20px;
    background-color: var(--colorrojo);
    text-align: center;
    line-height: 20px;
    color: white;
    border-radius: 20px;
  }
/* InDesign */
  #myProgress6 {
    background-color: lightblue;
    cursor: pointer;
    border-radius: 20px;
  }
  
#myBar6 {
    width: 5%;
    height: 20px;
    background-color: var(--colorrojo);
    text-align: center;
    line-height: 20px;
    color: white;
    border-radius: 20px;
  }
/* Animate */
  #myProgress7 {
    background-color: lightblue;
    cursor: pointer;
    border-radius: 20px;
  }
  
#myBar7 {
    width: 5%;
    height: 20px;
    background-color: var(--colorrojo);
    text-align: center;
    line-height: 20px;
    color: white;
    border-radius: 20px;
  }
/* Protools */
  #myProgress8 {
    background-color: lightblue;
    cursor: pointer;
    border-radius: 20px;
  }
  
#myBar8 {
    width: 5%;
    height: 20px;
    background-color: var(--colorrojo);
    text-align: center;
    line-height: 20px;
    color: white;
    border-radius: 20px;
  }
/* Js */
  #myProgress9 {
    background-color: lightblue;
    cursor: pointer;
    border-radius: 20px;
  }
  
#myBar9 {
    width: 5%;
    height: 20px;
    background-color: var(--colorrojo);
    text-align: center;
    line-height: 20px;
    color: white;
    border-radius: 20px;
  }
/* Git */
  #myProgress10 {
    background-color: lightblue;
    cursor: pointer;
    border-radius: 20px;
  }
  
#myBar10 {
    width: 5%;
    height: 20px;
    background-color: var(--colorrojo);
    text-align: center;
    line-height: 20px;
    color: white;
    border-radius: 20px;
  }
/* Bootstrap */
  #myProgress11 {
    background-color: lightblue;
    cursor: pointer;
    border-radius: 20px;
  }
  
#myBar11 {
    width: 5%;
    height: 20px;
    background-color: var(--colorrojo);
    text-align: center;
    line-height: 20px;
    color: white;
    border-radius: 20px;
  }

  /* Habiliaddes blandas */

  /* Ofimática */
  #myProgress12 {
    background-color: lightblue;
    cursor: pointer;
    border-radius: 20px;
  }
  
#myBar12 {
    width: 5%;
    height: 20px;
    background-color: var(--colorrojo);
    text-align: center;
    line-height: 20px;
    color: white;
    border-radius: 20px;
  }
/* Ai */
  #myProgress13 {
    background-color: lightblue;
    cursor: pointer;
    border-radius: 20px;
  }
 
#myBar13 {
    width: 5%;
    height: 20px;
    background-color: var(--colorrojo);
    text-align: center;
    line-height: 20px;
    color: white;
    border-radius: 20px;
  }
 /* Ps */
  #myProgress14 {
    background-color: lightblue;
    cursor: pointer;
    border-radius: 20px;
  }
  
#myBar14 {
    width: 5%;
    height: 20px;
    background-color: var(--colorrojo);
    text-align: center;
    line-height: 20px;
    color: white;
    border-radius: 20px;
  }
/* HTML */
  #myProgress15 {
    background-color: lightblue;
    cursor: pointer;
    border-radius: 20px;
  }
  
#myBar15 {
    width: 5%;
    height: 20px;
    background-color: var(--colorrojo);
    text-align: center;
    line-height: 20px;
    color: white;
    border-radius: 20px;
  }
/* CSS */
  #myProgress16 {
    background-color: lightblue;
    cursor: pointer;
    border-radius: 20px;
  }
  
#myBar16 {
    width: 5%;
    height: 20px;
    background-color: var(--colorrojo);
    text-align: center;
    line-height: 20px;
    color: white;
    border-radius: 20px;
  }
/* InDesign */
  #myProgress17 {
    background-color: lightblue;
    cursor: pointer;
    border-radius: 20px;
  }
  
#myBar17 {
    width: 5%;
    height: 20px;
    background-color: var(--colorrojo);
    text-align: center;
    line-height: 20px;
    color: white;
    border-radius: 20px;
  }
/* Animate */
  #myProgress18 {
    background-color: lightblue;
    cursor: pointer;
    border-radius: 20px;
  }
  
#myBar18 {
    width: 5%;
    height: 20px;
    background-color: var(--colorrojo);
    text-align: center;
    line-height: 20px;
    color: white;
    border-radius: 20px;
  }
/* Protools */
  #myProgress19 {
    background-color: lightblue;
    cursor: pointer;
    border-radius: 20px;
  }
  
#myBar19 {
    width: 5%;
    height: 20px;
    background-color: var(--colorrojo);
    text-align: center;
    line-height: 20px;
    color: white;
    border-radius: 20px;
  }
/* Js */
  #myProgress20 {
    background-color: lightblue;
    cursor: pointer;
    border-radius: 20px;
  }
  
#myBar20 {
    width: 5%;
    height: 20px;
    background-color: var(--colorrojo);
    text-align: center;
    line-height: 20px;
    color: white;
    border-radius: 20px;
  }
/* Git */
  #myProgress21 {
    background-color: lightblue;
    cursor: pointer;
    border-radius: 20px;
  }
  
#myBar21 {
    width: 5%;
    height: 20px;
    background-color: var(--colorrojo);
    text-align: center;
    line-height: 20px;
    color: white;
    border-radius: 20px;
  }
/* Bootstrap */
  #myProgress22 {
    background-color: lightblue;
    cursor: pointer;
    border-radius: 20px;
  }
  
#myBar22 {
    width: 5%;
    height: 20px;
    background-color: var(--colorrojo);
    text-align: center;
    line-height: 20px;
    color: white;
    border-radius: 20px;
}
#myBar22 {
  margin-bottom: 20px;
}

/* Contactos */

.social{
  position: fixed;
  right: 0;
  top: 200px;
  z-index: 1000;
}
.social ul{
  list-style: none;
}
.social ul li a{
  display: inline-block;
  color: white;
  background-color: transparent;
  padding: 0px 15px;
  text-decoration: none;
  font-size: 18px;
  width: 50px;
  text-align: left;
  -webkit-transition-: all 500ms ease;
  -moz-transition-: all 500ms ease;
  -o-transition-: all 500ms ease;
  transition: all 500ms ease;
}
.social ul li .fa-whatsapp {
  background-color: #00bb2d;
  padding: 15px;
  margin-left: -5px;
  margin-right: 10px;
}
.social ul li a .fa-whatsapp:hover{
  background-color: var(--colorrojo);
}
.social ul li .fa-facebook-f {
  background-color: #3b5998;
  padding: 15px;
  margin-left: -5px;
  margin-right: 10px;
}
.social ul li .fa-facebook-f:hover{
  background-color: var(--colorrojo);
}
.social ul li .fa-instagram {
  background-color: #dd2a7b;
  padding: 15px;
  margin-left: -5px;
  margin-right: 10px;
}
.social ul li a .fa-instagram:hover{
  background-color: var(--colorrojo);
}
.social ul li .fa-twitter {
  background-color: #00acee;
  padding: 15px;
  margin-left: -5px;
  margin-right: 10px;
}
.social ul li a .fa-twitter:hover{
  background-color: var(--colorrojo);
}
.social ul li .fa-pinterest-p {
  background-color: #bd081c;
  padding: 15px;
  margin-left: -5px;
  margin-right: 10px;
}
.social ul li a .fa-pinterest-p:hover{
  background-color: var(--colorrojo);
}
.social ul li a:hover{
  padding: 0px 20px 0px 0px;
}
footer{
  background-color: var(--colorrojo);
  text-align: center;
  color: white;
  padding-top: 50px;
  padding-bottom: 35px;
}
footer div a{
  color: white;
  margin-right: 10px;
  font-size: 20px;
}
footer div a:hover{
  color: white;
}
.input{
  padding: 50px 80px;
}
.btnformulario{
  padding: 5px 10px;
  color: var(--colorrojo);
  border: none;
  border-radius: 5px;
  background-color: var(--colorazul);
  color: white;
}
.btnformulario:hover{
  background-color: var(--colorrojo);
  color: white;
}